.App {
  text-align: center;
  background: #f9f9f9;
  min-height: 100vh;
  font-family: "Lato", sans-serif;
}

.title {
  padding: 2rem 0;
  background: #f0e5d3;
}

.App h1 {
  font-weight: bold;
}

h3 {
  font-style: italic;
}
