.App {
  text-align: center;
  background: #f1f1f1;
  min-height: 100vh;
  font-family: "Lato", sans-serif;
}

.title {
  padding: 2rem 0;
}

.App h1 {
  font-weight: bold;
}

h3 {
  font-style: italic;
}

.google-button {
  background-color: #e6e9f0;
  border: none;
  padding: 0.5rem;
  margin-top: 1rem;
  border-radius: 0.2rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
}

.google-button:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

/* for slanted background divider look */
.skewed {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 65%;
  background: #c2dde6;
  z-index: 0;
  transform: skewY(-10deg);
  transform-origin: top left;
}

.card {
  border-radius: 0.5rem !important;
  text-align: left;

  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.header {
  background: #e6e9f0 !important;
  font-size: 1.5rem;
  font-weight: bold;
  font-style: italic;
}
