/* App component styling */

.App {
  text-align: center;
  background: #f1f1f1;
  min-height: 100vh;
  font-family: "Lato", sans-serif;
}

.title {
  padding: 1.05rem 0;
}

.App h1 {
  font-weight: bold;
  float: left;
  margin-left: 1rem;
}

h3 {
  font-style: italic;
}

.auth-button {
  background-color: #e6e9f0;
  width: 200px;
  border: none;
  padding: 0.5rem;
  float: right;
  margin-right: 1rem;
  margin-top: 1rem;
  border-radius: 0.2rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
}

.auth-button:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

/* for slanted background divider look */
.skewed {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 65%;
  background: #c2dde6;
  z-index: 0;
  transform: skewY(-10deg);
  transform-origin: top left;
}

/* custom purple button for send text, see more of email, reply to email, etc. */
.custom-button {
  background: #431c5d;
  width: 30%;
  color: white;
  border: none;
  border-radius: 0.2rem;
  float: right;
  font-size: 1.1rem;
  padding: 0.4rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
  transition: 0.3s;
}

.custom-button:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}
