/* Accordion component styling */

.card {
  border-radius: 0.5rem !important;
  text-align: left;
  margin-right: 1rem;

  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.header {
  background: #e6e9f0 !important;
  font-size: 1.5rem;
  font-weight: bold;
  font-style: italic;
}

.accordion-button {
  float: right;
}

.accordion-button:hover {
  cursor: pointer;
}
