#contacts-card {
  margin-left: 1rem;
}

h3 {
  padding-top: 1rem;
}

.text-button {
  background: #431c5d;
  color: white;
  border: none;
  border-radius: 0.2rem;
  float: right;
  font-size: 1.1rem;
  padding: 0.4rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
  transition: 0.3s;
}

#text-button:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}
