/* Emails component styling */

.email-modal {
  min-width: 800px;
}

.from {
  font-size: 1rem;
}

.send-email-form {
  min-width: 760px;
}

.unread-badge {
  background: #e05915 !important;
  float: right;
  min-height: 20px;
}
