/* Emails component styling */

.email {
  border-left: none !important;
  border-right: none !important;
}

.email-modal {
  min-width: 800px;
}

.from {
  font-size: 1rem;
}

.send-email-form {
  min-width: 760px;
}
